
@{
    Layout = null;
}

<!DOCTYPE html>

<h3>Mvc Tablo Örneği - Kategori</h3>
<br />

<table>
    @*tr: table row. tabloda satır oluşturma*@
    <tr>
        @*th: table head. başlık olduğu için kalın punto ile çıktı verir*@
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        @*td: table data. tablo verileri listelendiği için normal punto ile çıktı verir.*@
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklamamız budur</td>
        <td>True</td>
    </tr>
</table>
